html, body {
    font-family: 'Heebo' , sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}
h1,h2,h3,h4{
    margin: 0;

}

header nav {
    background-color: #FFF;
    height: 50px;
 display: flex;
 justify-content: flex-end;
 padding-right: 60px;

}

header nav ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 33px;

}

header nav li {
    list-style: none;
    
    }

header nav li a {
    text-decoration: none;
   color: #000;
   font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  
}

.main-section {
    background-color: #FFF;
   padding: 158px 0;
    
}

.main-section .main-inner {
    max-width: 960px;
    margin: 0 auto;
   display: flex;
   align-items: center;

}
.main-section .main-inner .col-1 {
    max-width: 600px;
    

}

.main-section .main-inner .col-2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.main-section .main-inner .col-2 img {
    width: 243px;
height: 243px;
left: 760px;
top: 210px;
}

.main-section .main-inner .col-1 h1 {
    
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    

}
.main-section .main-inner .col-1 p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.main-section .main-inner .col-1 div {
    margin-top: 38px;
    background-color: #FF6464;
    width: 208px;
 height: 47px;
 
 border-radius: 2px;
   text-align: center;
   color: #FFF;
   line-height: 47px;

}
.main-section .main-inner .col-1 div a {
    text-decoration: none;
    color: #FFF;
}

.post-section {
    background-color: #EDF7FA;
    padding: 32px 0;
}



.post-section .post-header h2{
 font-weight: 400;
 font-size: 22px;
 line-height: 60px;
 color: #21243D;

}
.post-section .post-inner{
    max-width: 960px;
    margin: 0 auto;
}
.post-section .post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-section .post-header a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    text-decoration: none;

}

.post-section .post {
    display: flex;
    gap: 20px;
}
.post-section .post .post-item{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px;


}
.post-item h3{
 font-weight: 700;
 font-size: 26px;
 line-height: 38px;
 color: #21243D;
 margin-bottom: 16px;

}
.hi{
    font-weight: 400;
 font-size: 18px;
 line-height: 26px;
 color: #21243D;
 display: flex;
 gap: 26px
 ;
 align-items: center;
 margin-bottom: 20px;
}

.post-item p{
    font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #21243D;

}

.feature-section {
    background-color: #FFFFFF;
    padding-top: 15px;

}

.feature-section .feature-section-inner{
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.fs-header h2{
 font-weight: 400;
 font-size: 22px;
 line-height: 60px;
 color: #21243D;
 margin-bottom: 22px;
}

.fs-item{
    display: flex;
    gap: 18px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 16px;
    margin-bottom: 25px;
}

.fs-item-left img{
 width: 246px;
 height: 180px;
 left: 150px;
 top: 1088px;
 border-radius: 6px;
}

.fs-item-right h3{
 font-weight: 700;
 font-size: 30px;
 line-height: 44px;
 color: #21243D;
 padding-bottom: 18px;
}

.sh {
    display: flex;
    align-items: center;
    gap: 36px;
    padding-bottom: 20px

}
.badge {
 width: 62px;
 height: 25px;
 background: #142850;
 border-radius: 16px;
 font-weight: 900;
 font-size: 18px;
 color: #FFFFFF;
 text-align: center;
}

.category{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

@media only all and (max-width: 600px) {
    .main-inner{
        flex-direction: column-reverse;
    }
    .col-2{
        margin-bottom: 30px;
    }
    .col-1{
        text-align: center;
        margin: 0 24px;
    }
    .action-button{
        margin-left: auto;
        margin-right: auto;
    }
}